@model IEnumerable<RTLS.Models.MacAddress>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
                      ViewBag.PageRange = 2;
}

<div class="navbar-static-top">
    <div class="row col-lg-12 col-sm-12 col-md-12">
        @*@{ Html.RenderPartial("_Alert"); }*@
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h4>Real Time Location Services-API administrator</h4>
        </div>
        <div class="pull-right col-lg-6 col-md-6 col-sm-6">
            <div class="col-md-3 col-sm-3 col-lg-3">
                @Html.ActionLink("View RTLS Data", "RTLSRegisteredData", "Admin", null, new { @id = "RTLSData", @class = "btn btn-info" })
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3">
                @Html.ActionLink("View RTLS Log", "GetRTLSLogs", "Admin", null, new { @id = "GetRTLSLogs", @class = "btn btn-info" })
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3">
                @Html.ActionLink("View RTLSRegistered Data", "ViewMonitorDevices", "Admin", null, new { @id = "GetRegistred", @class = "btn btn-info" })
            </div>
        </div>
    </div>
    <br />
    <div class="row col-lg-12 col-sm-12 col-md-12">
        <div class="col-lg-8 col-md-8 col-sm-8">
            @using (Html.BeginForm("Authenticate", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="col-md-4 col-lg-4 col-sm-4">
                    <input type="text" name="UserName" placeholder="Enter the UserName" class="form-control" required />
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <input type="password" name="Password" class="form-control" required />
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <input type="submit" value="Connect" class="btn btn-success" />
                </div>
            }
        </div>
    </div>
</div>
<br /><br />
<div class="col-sm-12 col-lg-12 col-md-12">
    @*@using (Html.BeginForm("Index", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {*@
        <div class="container row col-md-5 col-lg-5 col-sm-5">
            <div class="form-group">
                <label class="control-label col-md-5">Enter the Devices</label>
                <div class="btn pull-left form-horizontal" id="txtDiv">
                    <input type="text" id="txtMacDevices" name="MacAddresses" maxlength="17" class="form-control">
                </div>
            </div>
            @*<div class="form-group col-md-6 col-lg-6 col-sm-6">
                    <input type="button" class="btn btn-success" name="plus" id="plus" value="+">
                    <input type="button" class="btn btn-danger" name="minus" id="minus" value="-">
                </div>*@
        </div>
        <div class="container row  col-md-1 col-lg-1 col-sm-1">
            <div class="form-group">
                <input type="button" class="btn btn-info" value="Save" name="Command" title="Save" id="btnSave" onclick="saveDevice()">
            </div>
        </div>
    @*}*@
</div>
<br /><br />
<div class="col-sm-12 col-lg-12 col-sm-12">
    <div class="form-group row">
        <!--call the api for register as per the selection-->
        <input type="button" class="btn btn-info BtnChkSelect" value="Register" id="btnRegister" title="Register" disabled>
        <input type="button" class="btn btn-info BtnChkSelect" value="De-Register" id="btnDeRegister" title="De-Registe" disabled>
        <input type="button" class="btn btn-info BtnChkSelect" value="Delete Mac Address" id="btnDeleteMac" title="Delete Mac Address" disabled />
        <input type="button" class="btn btn-info BtnChkSelect" value="Get Latest Position" id="btnLatestVersion" title="Postion" disabled>

    </div>
</div>
<br />
<div class="container" style="margin-top:35px;">
    <h4>Select number of rows</h4>
    <select name="state" id="maxRows" class="=form-control" style="width:150px">
        <option value="5000">Show all</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="40">40</option>
        <option value="50">50</option>
        <option value="60">60</option>
    </select>

</div>
<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="body-content">
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>
                        @*<input type="checkbox" class="chkMacDevices" name="chkMacDevices" id="chkMacDevices" />*@
                    </th>
                    <th>
                        Mac
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        IsCreatedByAdmin
                    </th>
                    <th>
                        IsDisplay
                    </th>
                </tr>
            </thead>
            
            <tbody id="macDetails">


                @*@foreach (var item in Model)
            {
                    <tr>
                        <td>
                            <input type="checkbox" value="@item.Id" name="chkMacDevices" class="chKDevices" />
                        </td>
                        <td class="tdMac">
                            @Html.DisplayFor(modelItem => item.Mac)
                        </td>
                        <td>
                            @Enum.GetName(typeof(RTLS.Enum.DeviceStatus), item.Intstatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsCreatedByAdmin)
                        </td>
                        <td>
                            @Html.ActionLink("View Device Data", "RTLSDataAsDevice", "Admin", new { DeviceId = item.Mac }, new { @id = "GetRegistred", @class = "btn btn-info" })
                        </td>
                    </tr>
                }*@
            </tbody>
            <tfoot>
              
            </tfoot>
        </table>
        <div class="pagination-container">
            <nav>
                <ul class="pagination"></ul>
            </nav>

        </div>
    </div>

</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">

    //function CheckMacAddressValidation() {
    //    var regex = /^([0-9A-F]{2}[:-]){5}([0-9A-F]{2})$/;
    //    regex.test(mystring);
    //}

    //function valueChanged() {
    //    if ($('#chkNewCompany').is(":checked")) {
    //        $("#txtCompanyName").show();
    //        $("#ddlCompanyList").hide();
    //    }
    //    else {
    //        $("#txtCompanyName").hide();
    //        $("#ddlCompanyList").show();
    //    }
    //}

    function saveDevice()
    {
        alert("savemac");
        var macValue=document.getElementById('txtMacDevices').value;
        var data = { MacAddresses: macValue };
        $.post("/Device/Save", data, function (response) {
            if (response.result.returncode == 0) {
                alert(arrData + " " + "Register successfully");
            }
            else {
                alert(response.result.errmsg);
            }
            location.reload();
        });

    }

    $(document).ready(function () {

        var uri = '/UIData/ListOfMacAddress';
        $(document).ready(function () {
            $.getJSON(uri)
            .done(function (data) {
                $.each(data.lstMacAddress, function (key, item) {
                    $('#macDetails').append("<tr>" +
                        "<td> <input type='checkbox' class='chkMacDevices' name='chkMacDevices' id='chkMacDevices' />  </td>" +
                        "<td class='tdMac' > " + item.Mac + "</td>" +
                        "<td>" + item.Intstatus + "</td>" +
                        "<td> <input type='checkbox' value='" + item.IsCreatedByAdmin + "'/>" + "</td>" +
                        "<td> <input type='checkbox' class='IsDisplay' name='IsDisplay' id='IsDisplay' value='" + item.IsDisplay + "' />" + "</td>" +
                        "<td>" + + "</td>" +
                        "</tr>");
                });
                //for (i = 0; i <= data.TotalPages; i++) {
                //    if (i >= data.currentPageIndex - data.PageRange && i <= data.currentPageIndex + data.PageRange) {
                //        if (data.currentPageIndex == i)
                //        {
                //            var foot = $("#macDetails").find('tfoot');
                //            if (!foot.length) foot = $('<tfoot>').appendTo("#macDetails");
                //            foot.append($('<ul class="pagination" id="div1"> <li class="active"><a id="pageLink" href="#">' +i + '</a></li> </ul>'));
                //            }
                //        else {
                //            var foot = $("#macDetails").find('tfoot');
                //            if (!foot.length) foot = $('<tfoot>').appendTo("#macDetails");
                //        foot.append($('<li><a id="pageLink" href="#" >')+i+'</a></li>');
                //            }
                       
                //    }
                    
                //}
            });
        });

        //$("#plus").on("click", function () {
        //    $("#txtDiv").append('<input class="form-control" id="txtMacDevices" name="txtMacDevices" type="text"/>');
        //});

        //$("#minus").on("click", function () {
        //    if ($("input[name='txtMacDevices']").length > 1) {
        //        $("input[name='txtMacDevices']:eq(" + (length - 1) + ")").remove();
        //    }
        //});
        $(document).on('click', '#chkMacDevices', function () {

            alert("check");
            if ($(this).is(":checked")) {

                // stop the bubbling to prevent firing the row's click event
                $(".BtnChkSelect").removeAttr("disabled");
            } else {
                $(".BtnChkSelect").attr("disabled", "disabled");
            }

        });


        $(document).on('click', '#IsDisplay', function () {


            if ($(this).is(":checked")) {

                // stop the bubbling to prevent firing the row's click event
                var arrData = [];
                $.each($("input[name='IsDisplay']:checked"), function () {
                    arrData.push($(this).parents("tr").find(".tdMac").text().trim());
                });
                var data = { Mac: arrData, IsDisplay: true }
                $.post("/Device/UpdateDisplay/", data, function (e) {
                    location.reload();
                });
            } else {
                var arrData = [];
                $.each($("input[name='IsDisplay']:checked"), function () {
                    arrData.push($(this).parents("tr").find(".tdMac").text().trim());
                });
                var data = { Mac: arrData, IsDisplay: false }
                $.post("/Device/UpdateDisplay/", data, function (e) {
                    location.reload();
                });
            }

            alert("IsDisplay");


        });



        //$("input[name='chkMacDevices']").change(function () {
        //    if ($(this).is(":checked")) {
        //        $(".BtnChkSelect").removeAttr("disabled");
        //    } else {
        //        $(".BtnChkSelect").attr("disabled", "disabled");
        //    }
        //})

        //$.get("/Admin/GetCompanyList", function (result) {
        //    $.each(result, function (key, data) {
        //        $("#ddlCompanyList").append("<option value=" + data.value + ">" + data.text + "</option>")
        //    })
        //})

        //$.get("/Admin/GetCompanyList", function (result) {
        //    $.each(result, function (key, data) {
        //        $("#ddlSelectCompany").append("<option value=" + data.value + ">" + data.text + "</option>")
        //    })
        //})

        //$("#ddlSelectCompany").change(function () {
        //    $('#ddlSelectSite').html('');
        //    if ($(this).val() != 0)
        //    {
        //        $.get("/Admin/GetSiteOfCompany?CompanyId=" + $(this).val(), function (result) {
        //            $.each(result, function (key, data) {
        //                $("#ddlSelectSite").append("<option value=" + data.SiteId + ">" + data.SiteName + "</option>")
        //            })
        //        })
        //    }
        //    else
        //    {
        //        alert("Select the Company")
        //    }

        //});

        //$("#chkNewCompany")

        //$("#btnSave").on("click", function () {
        //    var values = $("input[name='txtMacDevices']").map(function () {
        //        return this.value
        //    }).get()
        //    var data = { txtMacDevices: values }
        //    $.post("/Admin/SaveMacAddressInDb/", data, function (e) {
        //        location.reload();
        //    });
        //});

        $("#btnRegister").on("click", function () {
            var arrData = [];
            $.each($("input[name='chkMacDevices']:checked"), function () {
                arrData.push($(this).parents("tr").find(".tdMac").text().trim());
            });
            var data = { MacAddresses: arrData, IscreatedByAdmin:true }
            $.post("/RealTimeLocation/AddDevices/", data, function (response) {
                if (response.result.returncode == 0) {
                    alert(arrData + " " + "Register successfully");
                }
                else {
                    alert(response.result.errmsg);
                }
                location.reload();
            });
        });

        //$("#btnLatestVersion").on("click", function () {
        //    var arrData = [];
        //    $.each($("input[name='chkMacDevices']:checked"), function () {
        //        arrData.push(parseInt($(this).val()));
        //    });
        //    var data = { chkMacDevices: arrData }
        //    $.get("/Admin/GetLatestPosition/", data, function (e) {
        //        e.preventDefault();
        //    });
        //});

        //$("#btnViewMac").on("click", function () {
        //    $.post("/Admin/SaveMacAddressInDb/", $("#txtMacDevices").val(), function (e) {

        //    });
        //});

        ////$("#GetRegistred").on("click", function () {
        ////    $.get("/Admin/ViewMonitorDevices", function (e) {
        ////        window.location.htref = "/Admin/ViewMonitorDevices";
        ////    });
        ////});

        $("#btnDeRegister").on("click", function () {
            var arrData = [];
            $.each($("input[name='chkMacDevices']:checked"), function () {
                arrData.push($(this).parents("tr").find(".tdMac").text().trim());
            });
            var data = { MacAddresses: arrData}
            $.post("/RealTimeLocation/DeRegisterDevices/", data, function (response) {
                if (response.result.returncode == 0) {
                    alert(arrData + " " + "DeRigisterd successfully");
                }
                else {
                    alert(response.result.errmsg);
                }
                location.reload();
            });
        });

        $("#btnDeleteMac").on("click", function () {
            var arrData = [];
            $.each($("input[name='chkMacDevices']:checked"), function () {
                arrData.push($(this).parents("tr").find(".tdMac").text().trim());
            });
            var data = { MacAddresses: arrData }
            $.post("/Device/Delete/", data, function (e) {
                location.reload();
            });
        });

    //mac address input
var macAddress = document.getElementById("txtMacDevices");

function formatMAC(e) {
    var r = /([a-f0-9]{2})([a-f0-9]{2})/i,
        str = e.target.value.replace(/[^a-f0-9]/ig, "");

    while (r.test(str)) {
        str = str.replace(r, '$1' + ':' + '$2');
    }

    e.target.value = str.slice(0, 17);
};

macAddress.addEventListener("keyup", formatMAC, false);

    });
</script>
<script>
    var table = "#myTable";
    $('#maxRows').on('change', function () {
        $('.pagination').html('')
        var trNum = 0
        var maxRows = parseInt($(this).val())
        //var totalRows = $(table + 'tbody tr').length
        var totalRows=4
        $(table + 'tr:gt(1)').each(function () {
            trNum++
            if (trNum > maxRows) {
                $(this).hide()
            }
            if (trNum <= maxRows) {
                $(this).show()
            }
        })
        if(totalRows>maxRows)
        {
            var pagenum = Math.ceil(totalRows / maxRows)
            for (var i = 1; i <= pagenum;){
                $('.pagination').append('<li data-page="'+i+'"> \<span>'+i++ +'<span class="sr-only">(current)</span></span></li>').show()
            }
        }
        $('.pagination li:first-child').addClass('active')
        $('.pagination li').on('click', function () {
            var pageNum = $(this).attr('data-page')
            var trIndex = 0;
            $('.pagination li').removeClass('active')
            $(this).addClass('active')
            $(table + 'tr:gt(1)').each(function () {
                trIndex++
                if(trIndex>(maxRows*pageNum) || trIndex<=((maxRows*pageNum)-maxRows))
                {
                    $(this).hide()
                }
                else {
                    $(this).show()
                }
            })
        })

    })

    $(function () {
        $('table tr:eq(1)').prepend('<th>ID</th>')
        var id = 0;
        $('table tr:gt(1)').each(function () {
            id++
            $(this).prepend('<td>'+ id+'</td>')
        })
    })


</script>

